@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  font-family: Roboto;
  border: 0;
  padding: 0;
  margin: 0;
}

header img {
  width: 50px;
}

header h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  color: #d04f4f;
}

header .search i {
  font-size: 32px;
}

header .filter {
  height: 100%;
}

header .filter .dropdown.dd-ingredient,
header .filter .dropdown .dd-ingredient {
  background-color: #3282f7;
}

header .filter .dropdown.dd-device,
header .filter .dropdown .dd-device {
  background-color: #ed6454;
}

header .filter .dropdown.dd-utensil,
header .filter .dropdown .dd-utensil {
  background-color: #68d9a4;
}

header .filter .dropdown button {
  color: white;
  height: 70px;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

header .filter .dropdown .dropdown-menu {
  width: 670px;
  padding: 0;
}

header .filter .dropdown .dropdown-menu.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .filter .dropdown .dropdown-menu .dropdown-item {
  width: calc(100% / 3);
  text-transform: capitalize;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

header .filter .dropdown .dropdown-menu .dropdown-item.disabled {
  opacity: 0.4;
}

header .filter .show-filter {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0;
}

header .filter .show-filter.ingredient {
  background-color: #3282f7;
}

header .filter .show-filter.utensil {
  background-color: #68d9a4;
}

header .filter .show-filter.device {
  background-color: #ed6454;
}

header .filter .show-filter img {
  width: 20px;
  margin-left: 5px;
}

.recipes-container .recipe-card {
  margin-bottom: 1rem;
  font-size: 12px;
}

.recipes-container .recipe-card .inner {
  background: #e7e7e7;
  min-height: 178px;
}

.recipes-container .recipe-card .inner .recipe-heading .recipe-name {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.recipes-container .recipe-card .inner .recipe-heading .recipe-time {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.recipes-container .recipe-card .inner .recipe-heading .recipe-time img {
  width: 20px;
  height: 20px;
}

.recipes-container .recipe-card .inner .ingredients-container .ingredient {
  margin-bottom: 3px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

.error {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 47px;
  color: #d04f4f;
}

.hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */